<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ninja Gold</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'ninjaGold_app/style.css' %}"media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        <div id="wrapper">
            <h1>Your Gold: {{ request.session.gold }}</h1>
            <div id="locations">
                <div class="box">
                    <h3>Farm</h3>
                    <p>(earns 10-20 gold)</p>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input name="farm" type="submit" value="Find Gold!">
                    </form>
                </div>
                <div class="box">
                    <h3>Cave</h3>
                    <p>(earns 5-10 gold)</p>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input name="cave" type="submit" value="Find Gold!">
                    </form>
                </div>
                <div class="box">
                    <h3>House</h3>
                    <p>(earns 2-5 gold)</p>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input name="house" type="submit" value="Find Gold!">
                    </form>
                </div>
                <div class="box">
                    <h3>Casino</h3>
                    <p>(earns 2-5 gold)</p>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input name="casino" type="submit" value="Find Gold!">
                    </form>
                </div>
            </div> <!-- locations -->
            <div id="activities">
                <p>Activities:</p>
                <div id="history">
                    {{ request.session.log|safe }}
                </div> <!-- history -->
            </div> <!-- activities -->
        </div> <!-- wrapper -->
    </body>
</html>
